<table>
  <caption>Listing url</caption>
  <thead>
    <tr>
      <th>url</th>
      <th>clicks</th>
      <th>when</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
    <tr>
      <td><%=url.slang%></td>
      <td><%=url.clicks%></td>
      <td><%=url.when%></td>
    </tr>
    <% end %>
  </tbody>
</table>
